<div class="container mt-5 mb-5">

  <h1 class="text-center">About</h1>

  <p>Cloud kitchens are centralized licensed commercial food production facilities where anywhere from one or two to
    dozens of restaurants rent space to prepare delivery-optimized menu items. One restaurant may run multiple brands,
    or virtual restaurants, all operating under one roof, or the kitchen may be run like an incubator, shared by
    different purveyors. Picture a large warehouse with numerous stations (mini-restaurants) of stainless steel prep
    tables, hood vents, stoves, ovens, and sinks, each with its own orders coming in direct from customers
    <br>
    Cloud kitchen menu items are optimized for ease of production and reliability of food quality upon delivery. Often
    physically located in out-of-town industrial complexes, cloud kitchens may offer driver parking, driver waiting
    areas (often with screens to monitor order times) and check-in stations for seamless driver pick-up. All designed to
    get food out the door and into the customer’s hands as fast as possible.
    <br>
    Cloud kitchens are uniquely tech-enabled. They take advantage of the now ubiquitous food delivery apps on your
    smartphone, such as UberEats, Grubhub, and Doordash. In doing so, they use large amounts of data to determine what
    types of foods to produce for specific neighborhoods and when the demand is likely to be greatest. For example, hot
    wings tend to be really popular between 11pm-2am near college campuses. This data is fueling rapid adaptation and
    optimization, almost in real-time.
    <br>
    As the technology has matured, additional services have emerged to aggregate the various delivery apps into one
    portal, for easier production of multiple orders and delivery coordination as well as smart food purchasing and
    production software for decreased food waste and increased per meal unit economics. We have only seen the tip of the
    iceberg of innovation in this space.
  </p>

</div>
